parameters:
	ignoreErrors:
	    - '#^Property Frosh\\ShareBasket\\Core\\Content\\ShareBasket\\Aggregate\\ShareBasketLineItem\\ShareBasketLineItemEntity\:\:\$customFields type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Core\\Content\\ShareBasket\\Aggregate\\ShareBasketLineItem\\ShareBasketLineItemEntity\:\:getCustomFields\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Core\\Content\\ShareBasket\\Aggregate\\ShareBasketLineItem\\ShareBasketLineItemEntity\:\:setCustomFields\(\) has parameter \$customFields with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Core\\Content\\ShareBasket\\ShareBasketDefinition\:\:getDefaults\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\ScheduledTask\\ShareBasketCleanupTaskHandler\:\:getHandledMessages\(\) return type has no value type specified in iterable type iterable\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\CustomizedProductsService\:\:prepareCustomizedProductsLineItem\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\CustomizedProductsService\:\:transformOptions\(\) has parameter \$options with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\CustomizedProductsService\:\:transformOptions\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\CustomizedProductsServiceInterface\:\:prepareCustomizedProductsLineItem\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:saveCart\(\) has parameter \$data with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:prepareLineItems\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:persistCart\(\) has parameter \$data with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:saveCart\(\) has parameter \$data with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:prepareLineItems\(\) return type has no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketService\:\:persistCart\(\) has parameter \$data with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketServiceInterface\:\:saveCart\(\) has parameter \$data with no value type specified in iterable type array\.$#'
	    - '#^Method Frosh\\ShareBasket\\Services\\ShareBasketServiceInterface\:\:prepareLineItems\(\) return type has no value type specified in iterable type array\.$#'
