<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Share basket</title>
        <title lang="de-DE">Warenkorb teilen</title>

        <input-field type="int">
            <name>interval</name>
            <defaultValue>6</defaultValue>
            <label>Delete baskets after X months</label>
            <label lang="de-DE">Warenkörbe nach X Monaten löschen</label>
            <description >Baskets older than X months are deleted by cronjob. Cronjob Shopware_CronJob_ShareBasketCleanup must be active.</description>
            <description lang="de-DE">Warenkörbe älter als X Monate werden per Cronjob gelöscht. Cronjob Shopware_CronJob_ShareBasketCleanup muss aktiv sein.</description>
        </input-field>

        <input-field type="bool">
            <name>email</name>
            <defaultValue>true</defaultValue>
            <label>Email Share</label>
            <label lang="de-DE">E-Mail Share</label>
        </input-field>

        <input-field type="bool">
            <name>facebook</name>
            <defaultValue>true</defaultValue>
            <label>Facebook Share</label>
        </input-field>

        <input-field type="bool">
            <name>whatsapp</name>
            <defaultValue>true</defaultValue>
            <label>WhatsApp Share</label>
        </input-field>

        <input-field type="bool">
            <name>webshare</name>
            <defaultValue>true</defaultValue>
            <label>Web Share</label>
            <description>Enables the native sharing feature on supported devices.</description>
            <description lang="de-DE">Aktiviert die native Teilen-Funktion auf unterstützten Endgeräten.</description>
        </input-field>

        <input-field type="bool">
            <name>showSavedCartsInCustomerAccount</name>
            <defaultValue>false</defaultValue>
            <label>Show Saved Carts in Customer Account</label>
            <label lang="de-DE">Gespeicherte Warenkörbe im Kundenkonto anzeigen</label>
        </input-field>
    </card>
</config>
