{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_product_table %}
    {% if config('FroshPlatformShareBasket.config.showAboveCart') %}
        <div class="container frosh-share-basket {% block frosh_share_basket_basic_button_container_additional_classes %}mb-4{% endblock %}">
            <div class="row">
                {% sw_include "@Storefront/storefront/utilities/frosh-share-basket-basic-button.html.twig" %}
            </div>
        </div>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block page_checkout_aside_actions %}
    {% if config('FroshPlatformShareBasket.config.showInCartSidebar') %}
        <div class="checkout-aside-action frosh-share-basket">
            {% sw_include "@Storefront/storefront/utilities/frosh-share-basket-basic-button.html.twig" %}
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
