{% block frosh_share_basket_list %}
    <sw-page class="frosh-share-basket-list">

        {% block frosh_share_basket_list_content %}
            <template slot="content">

                {% block frosh_share_basket_list_grid %}
                    <sw-data-grid
                        v-if="items"
                        :dataSource="items"
                        :showSelection="false"
                        :showActions="false"
                        :sortBy="sortBy"
                        :sortDirection="sortDirection"
                        :columns="columns"
                        @column-sort="onSortColumn">

                        {% block frosh_share_basket_list_grid_columns %}
                            {% block frosh_share_basket_list_grid_columns_save_count %}
                                <template #column-saveCount="{ item }">
                                    {% block frosh_share_basket_list_grid_columns_save_count_content %}
                                        <template>
                                            {{ item.saveCount }} x
                                        </template>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        {% endblock %}

                        <template slot="pagination">
                            {% block frosh_share_basket_list_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>
                    </sw-data-grid>
                {% endblock %}

                {% block frosh_share_basket_list_grid_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}

            </template>
        {% endblock %}

        {% block frosh_share_basket_list_sidebar %}
            <sw-sidebar slot="sidebar">

                {% block frosh_share_basket_list_sidebar_refresh %}
                    <sw-sidebar-item
                        icon="default-arrow-360-left"
                        :title="$tc('frosh-share-basket.list.titleSidebarItemRefresh')"
                        @click="onRefresh">
                    </sw-sidebar-item>
                {% endblock %}

                {% block frosh_share_basket_list_sidebar %}
                <sw-sidebar-item
                    ref="filterSideBar"
                    icon="default-action-filter"
                    :title="$tc('frosh-share-basket.list.titleSidebarItemFilter')"
                    @sw-sidebar-item-close-content="closeContent"
                    @click="closeContent">

                    {% block frosh_share_basket_list_sidebar_filter_sales_channel %}
                        <sw-sidebar-collapse>
                            <template slot="header">{{ $tc('frosh-share-basket.general.salesChannel') }}</template>
                            <template slot="content">

                                {% block frosh_share_basket_list_sidebar_filter_sales_channel_items %}
                                <div v-for="(item, index) in salesChannelFilters">
                                    <sw-newsletter-recipient-filter-switch
                                        :id="item.id"
                                        group="sales_channel_id"
                                        :label="item.translated.name"
                                        @change="onChange">
                                    </sw-newsletter-recipient-filter-switch>
                                </div>
                                {% endblock %}

                            </template>
                        </sw-sidebar-collapse>
                    {% endblock %}

                </sw-sidebar-item>
                {% endblock %}

            </sw-sidebar>
        {% endblock %}

    </sw-page>
{% endblock %}
